:root {
  --font-main:
    -apple-system, BlinkMacSystemFont, "Inter", "Segoe UI", sans-serif;
  --bg-main: hsl(0, 0%, 47%);
  --width-main: 68vw;
  --margin-main: auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-main);
  background-color: #000;
  color: #fff;

  /* width: 100vw;
  height: 100vh;
  background-image: url(mintlify-bg1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
 
}

nav {
  top: 0;
  /* opacity: 0.85; */
  /* background-color: rgba(255, 255, 255); */
  width: 100vw;
  backdrop-filter: blur(15px);
  color: #fff;
  font-family: sans-serif;
  position: fixed;
  z-index: 1000px;
  display: flex;
}

.nav {
  width: 70vw;
  margin: auto;
  /* background-color: #fff; */
  padding: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-nav {
  display: flex;
  align-items: center;
}
.left-nav img {
  width: 27px;
}
.left-nav h3 {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI', sans-serif; */
  font-family: var(--font-main);
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.02em;
  line-height: 1;
}
.left-nav h3:hover {
  cursor: pointer;
}
.center-nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
.center-child {
  font-weight: 500px;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.01em;
  /* padding: 8px 12px; */
}

.center-child:hover {
  cursor: pointer;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-nav button {
  border-radius: 20px;
  padding: 8px 12px;
  border: none;
  font-weight: 500px;
  font-size: 15px;
  letter-spacing: 0.01em;
  cursor: pointer;
}
.r-btn-sales {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.25px solid rgba(var(--bg-main), 0.5);
}
.r-btn-sales:hover {
  background-color: rgba(var(--bg-main), 0.9);
}
.r-btn-start {
  background-color: #fff;
  color: #121212;

  /* border-radius: 20px;
  padding: 8px 12px;
  border: none;
  font-weight: 500px;
  font-size: 15px;
  letter-spacing: 0.01em; */
}
.r-btn-start:hover{
  background-color: rgba(255,255,255,0.8);
}

/* Done with the navbar */

main{
  opacity: 1;
  width: 100vw;
  height: 100vh;

  background-image: url(mintlify-bg1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto;
  color: #ffffff;
}

main h2 {
  font-family: var(--font-main);
  font-size: 64px; /* 4.5rem */
  font-weight: 650;
  line-height: 1.1;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  letter-spacing: -0.03em;
}

main p {
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: -0.01em;
  width: 30vw;
}

.mail-box {
  display: flex;
  align-items: center;
  color: var(--bg-main, 0.5);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 5px 5px 15px;
  width: 25vw;
  justify-content: space-between;
  border-radius: 40px;
}

.mail-box button {
  background-color: #fff;
  color: #121212;
  border-radius: 20px;
  padding: 8px 12px;
  border: none;
  font-weight: 500px;
  font-size: 15px;
  letter-spacing: 0.01em;
}
