.stories-layout{
    margin: 80px auto;
    width: 68vw;
}
.story-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.s-label{
    font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #10b981;
  margin: 60px 0 0 0;
}

.s-title{
      font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.01em;
}
.s-discription, .story-discription{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 60px 0;
  letter-spacing: 0.01em;
  word-spacing: 1px;
  color: #a0a0a0;
}

.stories-card{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px  ;
    /* align-items: center; */

}

.story-img{
    width: 400px;
    border-radius: 15px;

}

.story-discription{
    text-align: center;
}