.cta{
  width: 68vw;
  margin: auto;
  height: 80vh;
}
.cta-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cta-top h2{
  width:  35vw;
     font-size: 38px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.01em;
  text-align: center;
}
.cta-btn{
  margin-top: 30px ;
}
.btn-left{
  padding: 8px 18px;      
  font-size: 16px;         
  font-weight: 300;
  border-radius: 999px;    
  border: none;   
}

.btn-right{
  padding: 8px 18px;      
  font-size: 16px;         
  font-weight: 300;
  border-radius: 999px;    
  border: 0.01px solid #ffffff3c;  
  color: #fff;
  background-color: #000;
}

.cta-bottom{
  margin: 80px auto;
  display: flex;
  justify-content: space-evenly;
}

.left-grid, .right-grid{
  display: flex;
  flex-direction: column;
  gap: 20px ;
  align-items: center;
}
.cta-bottom img{
  width: 70px;
  height: 70px;
  border-radius: 30px;
}